<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spring Boot WebSocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>

    <div>
        <input id="hex" placeholder="enter hex color"></input>
        <canvas id="draw" style="margin:0; padding:0"></canvas>
    </div>

    <div id="chat-container" style="position: absolute; top: 0; right: 0">
        <div class="chat-header">
            <div class="user-container">
                <span id="username" th:utext="${username}"></span>
                <a th:href="@{/logout}">Logout</a>
            </div>
            <h3>Spring WebSocket Chat Demo</h3>
        </div>

        <hr/>

        <div id="connecting">Connecting...</div>
        <ul id="messageArea">
        </ul>
        <form id="messageForm" name="messageForm">
            <div class="input-message">
                <input type="text" id="message" autocomplete="off"
                       placeholder="Type a message..."/>
                <button type="submit">Send</button>
            </div>
        </form>
    </div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/app.js}"></script>

</body>
</html>