<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spring Boot WebSocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
    <!--<div>
        <button id="randomButton">RANDOM</button>

        <script>
            var words = ["monitor", "program", "gaming", "network", "apple", "banana"];
            var randomButton = document.getElementById("randomButton");
            randomButton.onclick = function () {
                document.getElementById("word").innerHTML = words[Math.floor(Math.random() * words.length)];
            };
        </script>
    </div> -->

    <!--<button hidden id="myButton">OPEN</button>-->
    <div id="myModal" class="modal modal-sm">
        <div class="modal-content">
            <span class="close">&times;</span>
            <table>
                <tr>
                    <td>
                        <button id="Button1"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="Button2"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="Button3"></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="chat-container" style="position: absolute; top: 0; right: 0">
        <div class="chat-header">
            <div class="user-container">
                <span id="username" th:utext="${username}"></span>
                <a th:href="@{/logout}">Logout</a>
            </div>
            <h3>Spring WebSocket Chat Demo</h3>
        </div>

        <hr/>

        <div id="connecting">Connecting...</div>
        <ul id="messageArea">
        </ul>
        <form id="messageForm" name="messageForm">
            <div class="input-message">
                <input type="text" id="message" autocomplete="off" placeholder="Type a message..."/>
                <button type="submit">Send</button>
                <button type="button" id="startButton">Start</button>
                <a id="word"></a>
            </div>
        </form>
    </div>

<script th:src="@{/js/main.js}"></script>
<script>
    var modal = document.getElementById("myModal");
    //var button = document.getElementById("myButton");
    var span = document.getElementsByClassName("close")[0];
    /*
    button.onclick = function () {
        modal.style.display = "block"; //open
    };
     */
    span.onclick = function () {
        modal.style.display = "none"; //close
    };
    window.onclick = function (ev) {
        if (ev.target === modal){
            modal.style.display = "none"; //close
        }
    };

    var button1 = document.getElementById("Button1");
    var button2 = document.getElementById("Button2");
    var button3 = document.getElementById("Button3");
    button1.onclick = function () {
        document.getElementById("word").innerHTML = document.getElementById("Button1").innerText;
        modal.style.display = "none";
        inGame = true;
    };
    button2.onclick = function () {
        document.getElementById("word").innerHTML = document.getElementById("Button2").innerText;
        modal.style.display = "none";
        inGame = true;
    };
    button3.onclick = function () {
        document.getElementById("word").innerHTML = document.getElementById("Button3").innerText;
        modal.style.display = "none";
        inGame = true;
    };


    var startButton = document.getElementById("startButton");
    startButton.onclick = function () {
        document.getElementById("word").innerHTML = words[Math.floor(Math.random() * words.length)]; //start game
        document.getElementById("startButton").disabled = true; //hidden = true?
        inGame = true;
    };
</script>

</body>
</html>